body{
    background-color: black; 
}
#title{
    text-align: center;
    font-family: "Comic Sans MS", "Comic Sans", "cursive";
    color: white;
}
#score{
    position: absolute;
    top: 30px;
    left: 50px;
}
#points{
    display: inline;
    position: absolute;
    top: 0;
    right:50px;
    color: white;
}
#pointvalue{
    display: inline;
    position: absolute;
    top: 0;
    right: 35px;
    color: white;
}
div{
    background-color: blue;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 1%;
    position: absolute;
}   